{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block body %}

{% center col-sm-8 my-5 %}
{% for message in messages %}
<div class="container-fluid p-0">
<div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="True">&times;</span>
    </button>
    {{ message }}
</div>
</div>
{% endfor %}
<h1 class="flex-grow-1 m-0">Transaction History</h1>
<hr style="border-color: #DDD; width: 100%">
{% if transactions %}
<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Service</th>
            <th scope="col">Creator</th>
            <th scope="col">Price</th>
            <th scope="col">Review</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <th scope="row">{{ transaction.startDate }}</th>
            <td>{{ transaction.product.name }}</td>
            <td>{{ transaction.product.seller.username }}</td>
            <td>{{ transaction.price }} ALGO</td>
            {% if transaction.confirmed %}
            <td><a">Already reviewed</a></td>
            {% else %}
            <td><a href="{% url 'confirmation' transaction_id=transaction.id%}">Review Here</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<h1>Subscriptions</h1>
<hr style="border-color: #DDD; width: 100%">
{% if subscriptions %}
<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">Creator</th>
            <th scope="col">Level</th>
            <th scope="col">Cost/mo</th>
        </tr>
    </thead>
    <tbody>
        {% for subscription in subscriptions %}
        <tr>
            <td>{{ subscription.subscription.seller.username }}</td>
            <td>{{ subscription.tier }}</td>
            <td>{{ subscription.price }} ALGO</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<a class="btn btn-primary" href="{% url 'settings' %}">&#x0003C;&#x0003C; Return to Settings</a>
{% endcenter %}
{% endblock %}