{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="hero-image">
    <div class="hero-text">
        <h1 class="display-2 am-text-secondary">Welcome to Algo-Market</h1>
        <p>The one stop for professional services via Cryptocurrency</p>
        <a href="{% url 'register' %}" class="btn btn-primary">Get Started</a>
    </div>
</div>
<div id="layoutError_footer">
    <footer class="py-4 bg-light">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Algo-Market 2022</div>
            </div>
        </div>
    </footer>
</div>
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>

{% endblock %}