{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block body %}}

{% center col-sm-8 my-5 %}
<h1>Your Subscription</h1>
<hr style="border-color: #DDD; width: 100%">
{% if subscription %}
<form>
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th class="align-middle" scope="col">Level</th>
                <th class="align-middle" scope="col">Free</th>
                <th class="align-middle" scope="col">Pro</th>
                <th class="align-middle" scope="col">Premium</th>
                <th class="align-middle" scope="col"></th>
            </tr>
            <tr>
                <th class="align-middle" scope="col">Price/mo</th>
                <th class="align-middle" scope="col">
                    <div class="row">
                        <div class="col-auto d-flex align-items-center">
                            <input class="form-control" id="inputFreeCost" type="text" value="0" disabled />
                            <p class="my-0 ml-1">ALGO</p>
                        </div>
                    </div>
                </th>
                <th class="align-middle" scope="col">
                    <div class="row">
                        <div class="col-auto d-flex align-items-center">
                            <input class="form-control" id="inputProPrice" name="proPrice" type="number"
                                value="{{ subscription.pro_price }}" required />
                            <p class="my-0 ml-1">ALGO</p>
                        </div>
                    </div>
                </th>
                <th class="align-middle" scope="col">
                    <div class="row">
                        <div class="col-auto d-flex align-items-center">
                            <input class="form-control" id="inputPremiumPrice" name="premiumPrice" type="number"
                                value="{{ subscription.premium_price }}" required />
                            <p class="my-0 ml-1">ALGO</p>
                        </div>
                    </div>
                </th>
                <th class="align-middle" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for perk in perk_list %}
            <tr>
                <th class="align-middle" scope="row">{{ perk.service.name }}</th>
                <td class="align-middle"><input class="form-control" id="perk{{ perk.service }}FreeAmount" type="number" value="{{ perk.free_amount }}" /></td>
                <td class="align-middle"><input class="form-control" id="perk{{ perk.service }}ProAmount" type="number" value="{{ perk.pro_amount }}" /></td>
                <td class="align-middle"><input class="form-control" id="perk{{ perk.service }}PremiumAmount" type="number" value="{{ perk.premium_amount }}" /></td>
                <td class="align-middle"><button type="button" class="btn btn-danger">Delete</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addPerkModal" data-backdrop="static"
        data-keyboard="false">Add New Perk +</button>
    <button type="button" class="btn btn-primary">Submit For Approval</button>
</form>
{% else %}
<p>You do not currently have a subscription!</p>
<button type="button" class="btn btn-success" onClick="createSubscription()">Start Subscription</button>
{% endif %}
{% endcenter %}

<div class="modal fade" id="addPerkModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPerkModalLabel">Add New Perk</h5>
            </div>
            <form onsubmit="addPerk(event)">
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-md-4 d-flex align-items-center justify-content-end">
                            <label class="m-0" for="inputService">Service:</label>
                        </div>
                        <div class="col-md-8">
                            <select class="custom-select" id="inputService" name="serviceSelect" required>
                                <option value="">Choose...</option>
                                {% for service in service_list %}
                                <option value="{{ service.id }}">{{ service.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'app/javascript/subscription_requests.js' %}"></script>

{% endblock %}