{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block body %}

{% center col-sm-8 my-5 %}
<h1>Your Services</h1>
<hr style="border-color: #DDD; width: 100%">
<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Cost</th>
            <th scope="col">Image</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody id="serviceTable">
        {% for service in service_list %}
        {% if service.active or not service.approved %}
        <tr id="service{{ service.id }}" class="service-active" >
            {% else %}
            <tr id="service{{ service.id }}" class="service-inactive" hidden >
                {% endif %}
                <td id="service{{ service.id }}name" class="align-middle">{{ service.name }}</td>
                <td id="service{{ service.id }}description" class="align-middle">{{ service.description }}</td>
                <td id="service{{ service.id }}price" class="align-middle">{{ service.price }} ALGO</td>
                <td class="align-middle">{{ service.imagename }}</td>
                {% if service.active %}
                <td class="align-middle" style="color:limegreen">ACTIVE</td>
                <td class="align-middle">
                    <button
                    type="button"
                    id="toggleActiveButton{{ service.id }}"
                    class="btn btn-light"
                    onClick="toggleActive(this.id)">
                    Deactivate
                </button>
            </td>
            {% elif not service.approved %}
            <td class="align-middle" style="color:gray">PENDING APPROVAL</td>
            <td class="align-middle"></td>
            {% else %}
            <td class="align-middle" style="color:red">INACTIVE</td>
            <td class="align-middle">
                <button
                type="button"
                id="toggleActiveButton{{ service.id }}"
                class="btn btn-light"
                onClick="toggleActive(this.id)">
                Activate
            </button>
        </td>
        {% endif %}
        <td class="align-middle">
            <button
            id="service{{ service.id }}editbutton" 
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#editServiceModal"
            data-name="{{ service.name }}"
            data-description="{{ service.description }}"
            data-price="{{ service.price }}"
            data-id="{{ service.id }}"
            >
            Edit
        </button>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
<div class="d-flex align-items-center justify-content-between">
    <button
    type="button"
    class="btn btn-success mr-auto"
    data-toggle="modal"
    data-target="#newServiceModal"
    data-backdrop="static"
    data-keyboard="false">
    Create New Service +
</button>
<label class="form-check-label">Show Inactive Services</label>
<input type="checkbox" id="showInactivesInput" class="check-input m-2 mr-3" />
</div>
{% endcenter %}

<div class="modal fade" id="newServiceModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newServiceModalLabel">Create New Service</h5>
            </div>
            <form method="POST" action="/services" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-md-4 d-flex align-items-center">
                            <label class="m-0" for="createName">Name:</label>
                        </div>
                        <div class="col-md-8">
                            {{ create_form.name }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 d-flex align-items-center">
                            <label class="m-0" for="createDescription">Description:</label>
                        </div>
                        <div class="col-md-8">
                            {{ create_form.description }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 d-flex align-items-center">
                            <label class="m-0" for="createPrice">Price:</label>
                        </div>
                        <div class="col-md-5">
                            {{ create_form.price }}
                        </div>
                        <div class="col-md-3 d-flex align-items-center p-0">
                            <label class="m-0" for="createPrice">ALGO</label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 d-flex align-items-center">
                            <label class="m-0" for="createImage">Image:</label>
                        </div>
                        <div class="col-md-8">
                            {{ create_form.image }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="editServiceModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editServiceModalLabel">Edit Service</h5>
            </div>
            <form method="POST" action="/services" enctype="multipart/form-data">
                {% csrf_token %}
                <input id="updateId" type="hidden" name="id" />
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-md-4 d-flex align-items-center">
                            <label class="m-0" for="updateName">Name:</label>
                        </div>
                        <div class="col-md-8">
                            {{ create_form.name }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 d-flex align-items-center">
                            <label class="m-0" for="updateDescription">Description:</label>
                        </div>
                        <div class="col-md-8">
                            {{ create_form.description }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 d-flex align-items-center">
                            <label class="m-0" for="updatePrice">Price:</label>
                        </div>
                        <div class="col-md-5">
                            {{ create_form.price }}
                        </div>
                        <div class="col-md-3 d-flex align-items-center p-0">
                            <label class="m-0" for="updatePrice">ALGO</label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 d-flex align-items-center">
                            <label class="m-0" for="updateImage">Image:</label>
                        </div>
                        <div class="col-md-8">
                            {{ create_form.image }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit for Approval</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    //on page load set the checkbox to stored value or default to true
    $('#showInactivesInput').prop('checked' , ( typeof sessionStorage.showInactives !== 'undefined' ) ? (sessionStorage.showInactives=='true') : true );
    $(document).ready(function() {
        if ($('#showInactivesInput').prop('checked')) {
            $('.service-inactive').removeAttr('hidden');
        }
    });
    // script to hide or show inactive services
    $('#showInactivesInput').change(function (event) {
        sessionStorage.showInactives = $(this).prop('checked');
        if (!this.checked) {
            $('.service-inactive').attr('hidden', true);
        } else {
            $('.service-inactive').removeAttr('hidden');
        }
    });
    // script to get the correct data in the edit service modal depending on which service is being edited
    $('#editServiceModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget) // Button that triggered the modal
        let name = button.data('name')
        let description = button.data('description')
        let price = button.data('price')
        let id = button.data('id')
        let modal = $(this)
        modal.find('#id_name').val(name)
        modal.find('#id_description').val(description)
        modal.find('#id_price').val(price)
        modal.find('#updateId').val(id)
    });
</script>
<script src="{% static 'app/javascript/service_requests.js' %}"></script>

{% endblock %}