{% load static %}

<nav class="navbar navbar-expand-lg  fixed-top am-primary">
    <a class="navbar-brand am-text-secondary mr-0" href="{% url 'index'%}">Algo-Market
        <img src="{% static 'app/assets/img/logo.svg' %}" width="44">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="{% static 'app/assets/img/menu.svg' %}" height="25" width="25">
    </button>
    <div class="collapse navbar-collapse mr-2" id="navbarSupportedContent">
        <ul class="navbar-nav mr-5">
            <li class="nav-item active">
                <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                {% if user.is_authenticated %}
                    {% if not user.creator %}
                    <a class="nav-link am-text-secondary" href="{% url 'register_creator' %}">Become a creator</a>
                    {% else %}
                    <button class="nav-link am-text-secondary" style="opacity: 0;" disabled>Become a creator</button>
                    {% endif %}
                {% else %}
                <a class="nav-link am-text-secondary" href="{% url 'register_creator' %}">Become a creator</a>
                {% endif %}
                
            </li>
        </ul>
        <form action="/search" method="GET" id="searchForm">
            <div class="row m-auto">
                <div class="col-11">
                    <input id="search" name="sch" class="form-control mr-sm-2" type="search" placeholder="Search the market..."
                        aria-label="Search">
                </div>
                <div class="col-1">
                    <base href="/">
                    <a href="{% url 'search' %}" class="btn search-btn am-text-secondary">Search</a>
                </div>
            </div>
        </form>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link dropdown-toggle sign-in-btn am-text-secondary" href="#" id="navbarDropdown"
                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-1">
                        {% if user.is_authenticated %}
                        {{user.username}}
                        {% else %}
                        Sign In
                        {% endif %}
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    {% if user.is_authenticated %}
                    <a class="dropdown-item" href="{% url 'profile' username=user.username%}">Profile</a>
                    <a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
                    <a class="dropdown-item" href="{% url 'history' %}">History</a>
                    {% if user.creator %}
                    <a class="dropdown-item" href="{% url 'services' %}">Services</a>
                    <a class="dropdown-item" href="{% url 'subscription' %}">Subscription</a>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                    <a class="dropdown-item" href="{% url 'register' %}">Register</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</nav>