{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="row d-flex justify-content-center mx-5 my-5">
    <div class="{% if selected_user.creator %}col-sm-1{% endif %}"></div>
    <div class="col-sm-3">
        <div class="d-flex flex-column align-items-center text-center border p-4">
            {% if selected_user.image %}
            <img class="rounded-circle mb-3" width="200px" src="{{ selected_user.image.url }}">
            {% else %}
            <img class="rounded-circle mb-3" width="200px" src="{% static 'app/assets/img/user.png' %}">
            {% endif %}
            <h4 class="card-title"><b>{{ selected_user.username }}</b></h4>
            <p class="card-text">{{ selected_user.email }}</p>
            {% if selected_user.username == user.username %}
                <a class="btn btn-light" href="{% url 'settings' %}">
                    Edit Profile
                   <span class="bi-pencil-fill"></span>
                </a>
            {% endif %}
        
            <hr style="border-color: #DDD; width: 100%">
            <button type="button" class="btn btn-primary btn-block">Contact Me</button>
            <hr style="border-color: #DDD; width: 100%">
            <dl class="row mb-0">
                <dt class="col-sm-8 text-left">First Name</dt>
                <dd class="col-sm-4 text-right">{{ selected_user.first_name }}</dd>
                <dt class="col-sm-8 text-left">Last Name</dt>
                <dd class="col-sm-4 text-right">{{ selected_user.last_name }}</dd>
                {% if selected_user.creator %}
                <dt class="col-sm-8 text-left">Services Completed</dt>
                <dd class="col-sm-4 text-right">{{ selected_user.services_completed }}</dd>
                <dt class="col-sm-8 text-left">Subscriber Count</dt>
                <dd class="col-sm-4 text-right">{{ selected_user.subscriber_count }}</dd>
                <dt class="col-sm-8 text-left">Rating</dt>
                <dd class="col-sm-4 text-right">{{ selected_user.rating }}</dd>
                {% endif %}
            </dl>
            <hr style="border-color: #DDD; width: 100%">
            {% if selected_user.creator %}
            <p class="card-text text-left w-100"><b>Biography</b></p>
            <p class="card-text text-left">{{ selected_user.biography }}</p>
            <hr style="border-color: #DDD; width: 100%">
            {% endif %}
            <a href="{% url 'report' username=selected_user.username%}" class="btn btn-danger btn-block">Report {% if selected_user.creator %}Creator{% else %}User{% endif %}</a>
        </div>

    </div>
    {% if selected_user.creator %}
    <div class="col-sm-7">
        {% if service_list %}
        <div class="d-flex align-items-center px-3">
            <h1 class="flex-grow-1 m-0">Services</h1>
            <button type="button" disabled class="btn">
                <span class="bi-caret-left-fill"></span>
            </button>
            <button type="button" disabled class="btn">
                <span class="bi-caret-right-fill"></span>
            </button>
        </div>
        <hr style="border-color: #DDD; width: 100%">
        <div class="row flex-row flex-nowrap overflow-auto">
            {% for service in service_list %}
            <div class="col-sm-4 mb-3">
                {% include 'app/service_card.html' %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if subscription %}
        <h1>Subscription</h1>
        <hr style="border-color: #DDD; width: 100%">
        <div class="row mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Free</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">0 ALGO<small class="text-muted fw-light">/mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            {% for perk in perk_list %}
                            <li>{{ perk.free_amount }} {{ perk.service.name }}</li>
                            {% endfor %}
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Subscribe</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Pro</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ subscription.pro_price }} ALGO<small class="text-muted fw-light">/mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            {% for perk in perk_list %}
                            <li>{{ perk.pro_amount }} {{ perk.service.name }}</li>
                            {% endfor %}
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-primary">Subscribe</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary">
                    <div class="card-header py-3 text-white bg-primary border-primary">
                        <h4 class="my-0 fw-normal">Premium</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ subscription.premium_price }} ALGO<small class="text-muted fw-light">/mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            {% for perk in perk_list %}
                            <li>{{ perk.premium_amount }} {{ perk.service.name }}</li>
                            {% endfor %}
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-primary">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}
    <div class="{% if selected_user.creator %}col-sm-1{% endif %}"></div>
</div>

{% endblock %}