{% load static %}

{% if service %}
<div class="card">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        {% if service.image_path %}
        {% with "app/assets/img/"|add:service.image_path as image_path %}
        <img class="card-img-top " src="{% static image_path %}" alt="Card image cap">
        {% endwith %}
        {% else %}
        <img class="card-img-top " src="{% static 'app/assets/img/cover.jpg' %}" alt="Card image cap">
        {% endif %}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ service.name }}</h5>
        <p class="card-text">{{ service.description }}</p>
        <a href="{% url 'store' store_id=service.id%}" class="btn btn-primary">Store</a>
    </div>
</div>
{% endif %}