{% extends 'email_base.html' %}
{% load static %}
{% block body %}

<div class="container">
    <div class="row">
        <h1 class="text-primary">
            Hello {{ username }}, this is Algo-Market!
        </h1>
    <div>
    <div class="row">
        <p class="col-12">
            The seller has been contacted about your purchase. Please wait for their response! <br>
            This is the detail of your purchase: <br>
        <p>
    </div> 
    <div class="row pt-2" >
        <a class="btn btn-primary" href="http://teamalgomarket.tomorine.codes{% url 'store'  store_id=store_num %}">Service Link</a>
    </div> 
        Service name: {{ service_name }} <br>

        Service description: {{ service_description }} <br>

        Service price: {{ service_price }} <br>

        Their contact email is: {{ seller_email }} <br>

        Thank you! <br>

        Team Algo-Market <br>
</div>

{% endblock %}


