*
{
    font-family: 'Poppins', sans-serif;
}
.am-primary
{
    background-color: #6051c5;
}
.am-secondary
{
    background-color: #CCF381;
}
.am-text-secondary, .am-text-secondary:hover
{
    color: #CCF381;
    text-decoration: none;
}
.am-transparent
{
    background-color: transparent;
}

body 
{
    padding-top: 10px;
}

body, html {
    height: 100%;
}

.longer-search-bar
{
    width: 100%;
}

.sign-in-btn
{
    transition: all 0.5s ease 0s;
}

.sign-in-btn:hover
{
    color: rgb(202, 148, 148);
}

.dropdown-item:hover
{
    background-color: rgba(125, 125, 202, 0.452);
}


/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('../assets/img/background.png');

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}